@model NewBookVM
@using AudioBooksApp.Data.Enums;
@using AudioBooksApp.Data.ViewModels;

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="text-center">Create Book</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <input asp-for="Length" class="form-control" />
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AudioFilePath" class="control-label"></label>
                    <input asp-for="AudioFilePath" class="form-control" />
                    <span asp-validation-for="AudioFilePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationDate" class="control-label"></label>
                    <input asp-for="PublicationDate" class="form-control" type="date" />
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<Category>()"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors"></select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublisherId" class="control-label"></label>
                    <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers"></select>
                    <span asp-validation-for="PublisherId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReaderId" class="control-label"></label>
                    <select asp-for="ReaderId" class="form-control" asp-items="ViewBag.Readers"></select>
                </div>
                <div class="form-group" style="margin-top:2%">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="form-group text-center border" style="margin-top:10%; margin-left:2%">
                <img class="img-fluid" id="Image" style="max-height: auto; max-width: 80%;" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var output = document.getElementById('Image');
            output.src = $("#ImageUrl").val();
        })

        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('Image');
            output.src = $(this).val();
        })
    </script>
}

}
